.profile_data {
    color: #888;
    font-size: 1.2em;
    line-height: 1.1;
    text-align: left;
}

.profile_data_title {
    font-size: 2.2em;
    line-height: 1.1;
    text-align: left;
}

.title_text {
    font-weight: bold;
    font-size: 3em;
    margin-bottom: 0.5em;
    text-align: center;
}
